/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-up-down-input {
  /* General appearance for Firefox */
  -moz-appearance: textfield;

  /* Hide the spinners in WebKit browsers */
  -webkit-appearance: none;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Hide the spinners in WebKit browsers */
.hide-up-down-input::-webkit-inner-spin-button,
.hide-up-down-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Form */
.form-input,
.form-textarea {
  @apply w-full rounded-md border border-white-light bg-white px-4 py-2 text-sm font-normal text-black !outline-none focus:border-primary focus:ring-transparent;

  &:disabled {
    @apply bg-disable-bg text-disable-text;
  }
}

/* Animation */
@keyframes shrinkGrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.animate-shrink-grow:hover {
  animation: shrinkGrow 0.5s ease-in-out;
}

/* Side bar */
#side-bar {
  a.active {
    @apply text-white bg-blue;
  }
}

/* Project status */
#project-status {
  .notStarted {
    @apply text-slate-500 bg-slate-500/20;

    &.selected {
      @apply text-white bg-slate-500 border-slate-500 shadow-[0px_0px_10px_0px] shadow-slate-500;
    }
  }
  .inProgress {
    @apply text-blue-500 bg-blue-500/20;

    &.selected {
      @apply text-white bg-blue-500 border-blue-500 shadow-[0px_0px_10px_0px] shadow-blue-500;
    }
  }
  .onHold {
    @apply text-amber-400 bg-amber-400/20;

    &.selected {
      @apply text-white bg-amber-400 border-amber-400 shadow-[0px_0px_10px_0px] shadow-amber-400;
    }
  }
  .underReview {
    @apply text-violet-500 bg-violet-500/20;

    &.selected {
      @apply text-white bg-violet-500 border-violet-500 shadow-[0px_0px_10px_0px] shadow-violet-500;
    }
  }
  .completed {
    @apply text-[#28A745] bg-[#28A745]/20;

    &.selected {
      @apply text-white bg-[#28A745] border-[#28A745] shadow-[0px_0px_10px_0px] shadow-[#28A745];
    }
  }
  .cancelled {
    @apply text-red-500 bg-red-500/20;

    &.selected {
      @apply text-white bg-red-500 border-red-500 shadow-[0px_0px_10px_0px] shadow-red-500;
    }
  }
}

/* Task priority */
#task-priority {
  .low {
    @apply text-[#28A745] bg-[#28A745]/20;

    &.selected {
      @apply text-white bg-[#28A745] border-[#28A745] shadow-[0px_0px_10px_0px] shadow-[#28A745]/50;
    }
  }
  .medium {
    @apply text-blue-500 bg-blue-500/20;

    &.selected {
      @apply text-white bg-blue-500 border-blue-500 shadow-[0px_0px_10px_0px] shadow-blue-500;
    }
  }
  .high {
    @apply text-orange-500 bg-orange-500/20;

    &.selected {
      @apply text-white bg-orange-500 border-orange-500 shadow-[0px_0px_10px_0px] shadow-orange-500;
    }
  }
  .critical {
    @apply text-red-500 bg-red-500/20;

    &.selected {
      @apply text-white bg-red-500 border-red-500 shadow-[0px_0px_10px_0px] shadow-red-500;
    }
  }
}

/* Task status */
#task-status,
#sub-task-status {
  .toDo {
    @apply text-slate-500 bg-slate-500/20;

    &.selected {
      @apply text-white bg-slate-500 border-slate-500 shadow-[0px_0px_10px_0px] shadow-slate-500;
    }
  }
  .inProgress {
    @apply text-blue-500 bg-blue-500/20;

    &.selected {
      @apply text-white bg-blue-500 border-blue-500 shadow-[0px_0px_10px_0px] shadow-blue-500;
    }
  }
  .onHold {
    @apply text-amber-400 bg-amber-400/20;

    &.selected {
      @apply text-white bg-amber-400 border-amber-400 shadow-[0px_0px_10px_0px] shadow-amber-400;
    }
  }
  .inReview {
    @apply text-violet-500 bg-violet-500/20;

    &.selected {
      @apply text-white bg-violet-500 border-violet-500 shadow-[0px_0px_10px_0px] shadow-violet-500;
    }
  }
  .readyForTesting {
    @apply text-teal-500 bg-teal-500/20;

    &.selected {
      @apply text-white bg-teal-500 border-teal-500 shadow-[0px_0px_10px_0px] shadow-teal-500;
    }
  }
  .completed {
    @apply text-[#28A745] bg-[#28A745]/20;

    &.selected {
      @apply text-white bg-[#28A745] border-[#28A745] shadow-[0px_0px_10px_0px] shadow-[#28A745];
    }
  }
  .blocked {
    @apply text-orange-500 bg-orange-500/20;

    &.selected {
      @apply text-white bg-orange-500 border-orange-500 shadow-[0px_0px_10px_0px] shadow-orange-500;
    }
  }
  .cancelled {
    @apply text-red-500 bg-red-500/20;

    &.selected {
      @apply text-white bg-red-500 border-red-500 shadow-[0px_0px_10px_0px] shadow-red-500;
    }
  }
}

/* Tippy */
.tippy-box[data-theme~="primary"] {
  background-color: #223d80;
}

.tippy-box[data-theme~="primary"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #223d80;
}

.tippy-box[data-theme~="success"] {
  background-color: #00ab55;
}

.tippy-box[data-theme~="success"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #00ab55;
}

.tippy-box[data-theme~="info"] {
  background-color: #2196f3;
}

.tippy-box[data-theme~="info"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #2196f3;
}

.tippy-box[data-theme~="danger"] {
  background-color: #e7515a;
}

.tippy-box[data-theme~="danger"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #e7515a;
}

.tippy-box[data-theme~="warning"] {
  background-color: #e2a03f;
}

.tippy-box[data-theme~="warning"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #e2a03f;
}

.tippy-box[data-theme~="secondary"] {
  background-color: #805dca;
}

.tippy-box[data-theme~="secondary"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #805dca;
}

.tippy-box[data-theme~="dark"] {
  background-color: #3b3f5c;
}

.tippy-box[data-theme~="dark"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #3b3f5c;
}
